* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: cornflowerblue;
}

.center {
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.size {
    width: 135px;
    height: 135px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.box {
    width: 100px;
    height: 100px;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
}

.box:hover {
    transform-origin: center;
    transition-duration: 0.2ms;
    transform-style: preserve-3d;
    filter: drop-shadow(1px 1px 8px rgb(97, 97, 97));
}

.flex {
    display: flex;
    flex-flow: wrap;
    padding-bottom: 20px;
}

.corner {
    border-radius: 20px;
}

.re-text {
    line-height: 15px;
    text-align: center;
}

.position {
    position: fixed;
    width: 25%;
}

.padding-top {
    padding-top: 20px;
    padding-bottom: 5px;
}

.font-size-12 {
    font-size: 12px;
    text-align: center;
}

.gallery {
    margin-left: 25%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 270px;
    border-radius: 30px;
}

.card:hover {
    width: 270px;
    filter: drop-shadow(1px 1px 8px rgb(97, 97, 97));
}

.pp-size {
    font-size: 14px;
}